$white : #ffffff;
$black: #000000;

$bg-color: #e6ebf1;
$site-bgcolor: #4b4965;
$footer-bgcolor: #ada8ec;

$betting-data-bg-1: #d8dfe9;
$betting-data-bg-2: #c0c6cf;
$betting-data-highlight: #ba36b5;

$button-general: #726f9a;
$button-highlight: #ba3636;

$container: 1280px;


$break-large: 1100px;
$break-middle: 996px;
$break-small: 470px;
$break-x-small: 360px;