/*******************************************************
	Header Styles
*******************************************************/
.main-header {
	padding: 0 20px;
	max-width: $container;
	width: 100%;
	min-height: 70px;
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	overflow: hidden;

	border-bottom: 1px solid $bg-color;
	background-color: $site-bgcolor;
	box-shadow: 0 0 10px 4px rgba($bg-color, 0.8);

	position: fixed;
	top: 0;
	z-index: 4;

	@media screen and (max-width: $break-large) {
		padding: 0 10px;
	}

	.logo {
		font-size: 28px;
		font-weight: bold;
		color: $white;
		text-transform: uppercase;

		flex-basis: 25%;
		order: 1;

		@media screen and (max-width: $break-middle) {
			font-size: 24px;
			flex: 1 auto;
		}

		@media screen and (max-width: $break-small) {
			font-size: 18px;
		}

		a {
			color: inherit;
		}
	}

	nav {
		flex-basis: 50%;
		order: 2;

		@media screen and (max-width: $break-middle) {
			display: flex;
			flex: 1 100%;	
			order: 3;
		
			overflow: scroll;
		    -webkit-overflow-scrolling: touch;

		    &::-webkit-scrollbar {
				display: none;
			}
		}

		.menu-link {
			&:not(:last-child) {
				margin-right: 16px;
			}

			&:hover {
				color: rgba($white, 0.5);
			}
		}
	}

	.user-settings {
		flex-basis: 25%;
		order: 3;

		font-size: 0;
		text-align: right;

		@media screen and (max-width: $break-middle) {
			flex: 1 auto;
			order: 2;	
		}
	}
}